@CHARSET "UTF-8";



@media ( max-width : 768px) {
	.input-group {
		width: 100% !important;
	}
}

@media ( min-width :270px) {
	.car-image {
		width: 260px !important;
		height: 195px !important;
	}
}

.car-image:hover {
	opacity: 0.8;
}

.image-upload > input{
    display: none;
}

.box-home input[type="text"] {
	padding: 10px;
	border-bottom: solid 2px #e2e2e2;
	transition: border 0.3s;
}

.box-home input[type="text"]:focus, 
.box-home input[type="text"].focus {
	box-shadow: 0 0 2px #065891;
	border-bottom: solid 2px #0968AA;
}