@CHARSET "UTF-8";

@font-face {
    font-family: 'Aller'; 
    src: url('../fonts/aller/Aller_Rg.ttf');
}

@font-face {
    font-family: 'Aller-bd'; 
    src: url('../fonts/aller/Aller_Bd.ttf');
}

body{ background-image: url("../images/login/background-login.jpg") !important; }
.msg-error{ margin:2rem auto; width:60%; }

.float-right{ float:right; }
.float-left{ float:left; }

.pointer{ cursor:pointer; }

.card-title { background: #3E5F94; }

.card-title h1 {
	color: white;
	font-family: Aller;
	margin: 0 0 1em 0;
	padding: 0.3em 0;
}

.box-home {
	padding: 0 !important;
	border-radius: 0.4em;
	background-color: white;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .6), 0 14px 50px 4px rgba(0, 0, 0, 0.46), 0 0 0 1px rgba(0, 0, 0, 0) !important;
	font-family: Aller;
}

.row-margin{
	margin-top:3em;
	margin-bottom:3em;
}