@CHARSET "UTF-8";

@font-face {
    font-family: 'Aller'; 
    src: url('../fonts/aller/Aller_Rg.ttf');
}

@font-face {
    font-family: 'Aller-bd'; 
    src: url('../fonts/aller/Aller_Bd.ttf');
}

body{ background-image: url("../images/login/background-login.jpg") !important; }
.msg-error{ margin:2rem auto; width:40rem; }

.float-right{ float:right; }
.float-left{ float:left; }

.pointer{ cursor:pointer; }